body {
  color: #49332B;
  font-family: 'Fredoka One', 'sans-serif';
}
.mainContainer {
  background-size: 80%;
  background: rgba(0, 0, 0, 0.1) url("./Images/ramin-talebi-u_b0jWnkgM0-unsplash.jpg") no-repeat center;
  height: 700px;
  position: relative;
  padding: 100px 25px;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
}
.basicOffer {
  grid-area: main;
}
.extraOffer {
  grid-area: main;
}
.calcForm {
  grid-area: side;
}
.offerContainer{
  text-align: left;
  margin-left: 20px;
}
.offerTitle {
  text-align: center;
}
.calcContainer {
  background: darkseagreen;
  padding: 30px;
  opacity: 0.9;
  border-radius: 110px;
  width: 84vw;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main side"
                      "main side";
  grid-gap: 40px;
  margin: 20px 100px;
  line-height: 130%;
  height: 680px;
}
.calcTitle {
  background: darkcyan;
  text-align: center;
  font-family: 'Gloria Hallelujah', 'sans-serif';
  color: greenyellow;
  padding: 40px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(1,44,0,0.9);
  position: relative;
  z-index: 1;
}
.calcTitle::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: darkcyan;
  transform-origin: top left;
  transform: skewY(-2deg);
  z-index: -10;
}
.calcTitle::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: darkcyan;
  transform-origin: bottom left;
  transform: skewY(1deg);
  z-index: -10;
}

.additionalOptions {
  display: flex;
  flex-direction: column;
}
.headLines {
  margin: 20px 0 10px 0;
}
.info {
  margin: 10px 0;
  font-size: 14px;
}
.offerInfo {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  background: #49332B;
  color: white;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
}
.extraOffer li {
  padding-top: 10px;
}
.totalCost {
  font-size: 26px;
  margin: 10px 0 10px 0;
}