.headContainer {
  display: flex;
  justify-content: space-between;
  background-color: lighten(lightgreen, 20%);
  color: darkgreen;
  font-family: 'Gloria Hallelujah', 'sans-serif';
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 25px;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  padding: 30px;
}
.menuElement {
  display: inline;
  padding: 5px 10px 5px 10px;
  font-weight: bolder;
  font-size: 22px;
  transition: 0.4s;
  margin-left: 10px;
}
.menuElement:hover {
  background-color: darkorange;
  border-radius: 20px;
  transition: border-radius 0.8s;
}
.name {
  font-size: 33px;
  text-shadow: 1px 1px 1px rgba(1,44,0,0.9);
}
.menu a {
  text-decoration: none;
  color: darkgreen;
}