.headContainer {
  display: flex;
  justify-content: space-between;
  background-color: lighten(lightgreen, 20%);
  color: darkgreen;
  font-family: 'Fredoka One', 'sans-serif';
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 25px;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  padding: 30px;
}
.menuElement {
  display: inline;
  padding: 15px;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.5s;
}
.menuElement:hover {
  background-color: darkorange;
  border-radius: 20px;
  transition: border-radius 0.8s;
}
.name {
  font-size: 33px;
  text-shadow: 1px 1px 1px rgba(1,44,0,0.9);
}