.headContainer {
  display: flex;
  justify-content: space-between;
  background-color: lighten(lightgreen, 20%);
  color: darkgreen;
  font-family: sans-serif;
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 25px;
}
span {
  display: flex;
  align-items: center;
}
img {
  padding: 30px;
}
li {
  display: inline;
  padding: 15px;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.5s;
}
li:hover {
  background-color: darkorange;
  border-radius: 20px;
  transition: border-radius 0.8s;
}