.slider {
  width: 55vw;
  height: 500px;
  position: relative;
  margin: auto;
}
.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0
}
.leftArrow {
  position: absolute;
  top: 50%;
  padding: 0;
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0;
}
.galleryTitle {
  background: darkcyan;
  text-align: center;
  font-family: 'Gloria Hallelujah', 'sans-serif';;
  color: greenyellow;
  padding: 30px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(1,44,0,0.9);
  position: relative;
  z-index: 1;
  }
.galleryTitle::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: darkcyan;
  transform-origin: top left;
  transform: skewY(-2deg);
  z-index: -10;
}
.galleryTitle::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: darkcyan;
  transform-origin: bottom left;
  transform: skewY(1deg);
  z-index: -10;
}