.footerContainer {
  display: flex;
  justify-content: center;
  background-color: lighten(lightgreen, 20%);
  color: darkgreen;
  font-family: 'Gloria Hallelujah', 'sans-serif';
}
.logoContainer a {
  text-decoration: none;
  color: darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
