.bannerContainer {
  background-image: url("./Images/boy-playing-with-fall-leaves-outdoors-36965.jpg");
  height: 500px;
  background-size: cover;
  position: relative;
}
.text {
  background: darkseagreen;
  width: 250px;
  padding: 20px;
  top: 50px;
  left: 50px;
  position: absolute;
}